[submodule "current_project/dreammaker_scheduler"]
	path = current_project/dreammaker_scheduler
	url = https://git-sa.nie.netease.com/tmax/dreammaker-scheduler
[submodule "current_project/dreammaker_docs"]
	path = current_project/dreammaker_docs
	url = https://git-sa.nie.netease.com/dreammaker/dreammaker-docs.git
[submodule "current_project/dm-monet-agent"]
	path = current_project/dm-monet-agent
	url = https://git-sa.nie.netease.com/tmax/dm-monet-agent.git
[submodule "current_project/dreammaker_gateway"]
	path = current_project/dreammaker_gateway
	url = https://git-sa.nie.netease.com/tmax/dreammaker-gateway.git
[submodule "current_project/dm-tapnow"]
	path = current_project/dm-tapnow
	url = https://git-sa.nie.netease.com/tmax/dm-tapnow.git
